*,
*::before,
*::after {
  -webkit-box-sizing: border-box;  /* for Google Chrome and Apple Safari */
  -moz-box-sizing: border-box;    /* for Mozilla Firefox */
  -ms-box-sizing: border-box;   /* for Microsoft's Internet Explorer */
  box-sizing: border-box;       /* box-sizing is a property allows us to change exactly how the box-model works  */
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);

  /*  position: relative; */
  min-height: 100vh;  /* vh (viewport height as unit of measure)) */
  margin: 0;
}

.bg-lightgrey {
  background-color: #e5e5e5;
}

header .my-logo-title {
  color: #6070FF;
  font-family: 'Poppins', sans-serif;
}

header .navbar-links {
  list-style: none;
}

header .navbar-links li a {
  color:#344563;
  font-family: 'Poppins', sans-serif;
}

.connect {
  color: #7F8CFF;
}

.section-1 {
  background-image: url("../images/header-shapes.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.section-2 .technologies {
  color: #396DF2;
  background-color: 1px solid #396DF2;
  font-family: 'Poppins', sans-serif;
}

.section-2 .card .card-body button {
  color: #396DF2;
  border: 1px solid #396DF2;
  font-family: 'Poppins', sans-serif;
}
